<div class="page-header">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAPS_KEY"]%>&callback=initMap"></script>
    <script type="text/javascript">
		
		var locations = <%=raw @marker_ruby%>
 
        function InitMap() {
 
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: new google.maps.LatLng(41.8781, -87.6298),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
 
            var infowindow = new google.maps.InfoWindow();
 
            var marker, i;
			
			var bounds = new google.maps.LatLngBounds();
 
            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
        
                });
   
               loc = new google.maps.LatLng(marker.position.lat(), marker.position.lng());
   
               bounds.extend(loc);
   
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
            // for loop marker
			   map.fitBounds(bounds);     
        map.panToBounds(bounds);     
        }
    </script>
  <!--<h1>-->
  <!--  Listings-->
  <!--</h1>-->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%= search_form_for @q, :class => collapse_search_form, :id => "listings_filters" do |f| %>
      <p class="lead">Narrow results:</p>

    <div class="form-group">
      <%= f.label :total_baths, "Total baths" %>
      <div class="row">
        <div class='col-md-6 mb-1'>
          <%= f.text_field :total_baths_gteq, :class => "form-control", :placeholder => "Total baths greater than or equal to" %>
        </div>
        <div class='col-md-6'>
          <%= f.text_field :total_baths_lteq, :class => "form-control", :placeholder => "Total baths less than or equal to" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
              <%= f.label :available_date, "Available date" %>
              <div class="row">
                <div class='col-md-6 mb-1'>
                  <div class='input-group date' id='available_dategteqPicker'>
                      <%= f.text_field :available_date_gteq, :class => "form-control", :placeholder => "Available date greater than or equal to" %>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
    
                <div class='col-md-6'>
                  <div class='input-group date' id='available_datelteqPicker'>
                      <%= f.text_field :available_date_lteq, :class => "form-control", :placeholder => "Available date less than or equal to" %>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
              </div>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#available_dategteqPicker').datetimepicker({
                      format: 'MM/DD/YYYY'
                  });
                  $('#available_datelteqPicker').datetimepicker({
                      useCurrent: false,
                      format: 'MM/DD/YYYY'
                  });
                  $('#available_dategteqPicker').on("dp.change", function (e) {
                      $('#available_datelteqPicker').data("DateTimePicker").minDate(e.date);
                  });
                  $('#available_datelteqPicker').on("dp.change", function (e) {
                      $('#available_dategteqPicker').data("DateTimePicker").maxDate(e.date);
                  });
              });
          </script>
    
    <div class="form-group">
        <%= f.label :dogs_eq, "Dogs" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :dogs_eq, "1", checked: ((params[:q] && params[:q][:dogs_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :dogs_eq, "0", checked: ((params[:q] && params[:q][:dogs_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :dogs_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
        <%= f.label :cats_eq, "Cats" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :cats_eq, "1", checked: ((params[:q] && params[:q][:cats_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :cats_eq, "0", checked: ((params[:q] && params[:q][:cats_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :cats_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
        <%= f.label :laundry_cont, "Laundry contains" %>
        <%= f.text_field :laundry_cont, :class => "form-control", :placeholder => "Laundry contains" %>
      </div>
    
    <div class="form-group">
        <%= f.label :property_type_cont, "Property type contains" %>
        <%= f.text_field :property_type_cont, :class => "form-control", :placeholder => "Property type contains" %>
      </div>
    
    <div class="form-group">
        <%= f.label :zip_code_cont, "Zip code contains" %>
        <%= f.text_field :zip_code_cont, :class => "form-control", :placeholder => "Zip code contains" %>
      </div>
    
    <div class="form-group">
        <%= f.label :rental_eq, "Rental" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :rental_eq, "1", checked: ((params[:q] && params[:q][:rental_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :rental_eq, "0", checked: ((params[:q] && params[:q][:rental_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :rental_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
      <%= f.label :price, "Price" %>
      <div class="row">
        <div class='col-md-6 mb-1'>
          <%= f.text_field :price_gteq, :class => "form-control", :placeholder => "Price greater than or equal to" %>
        </div>
        <div class='col-md-6'>
          <%= f.text_field :price_lteq, :class => "form-control", :placeholder => "Price less than or equal to" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
        <%= f.label :new_construction_eq, "New construction" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :new_construction_eq, "1", checked: ((params[:q] && params[:q][:new_construction_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :new_construction_eq, "0", checked: ((params[:q] && params[:q][:new_construction_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :new_construction_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
        <%= f.label :vintage_eq, "Vintage" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :vintage_eq, "1", checked: ((params[:q] && params[:q][:vintage_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :vintage_eq, "0", checked: ((params[:q] && params[:q][:vintage_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :vintage_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
        <%= f.label :recent_rehab_eq, "Recent rehab" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :recent_rehab_eq, "1", checked: ((params[:q] && params[:q][:recent_rehab_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :recent_rehab_eq, "0", checked: ((params[:q] && params[:q][:recent_rehab_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :recent_rehab_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
              <%= f.label :list_date, "List date" %>
              <div class="row">
                <div class='col-md-6 mb-1'>
                  <div class='input-group date' id='list_dategteqPicker'>
                      <%= f.text_field :list_date_gteq, :class => "form-control", :placeholder => "List date greater than or equal to" %>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
    
                <div class='col-md-6'>
                  <div class='input-group date' id='list_datelteqPicker'>
                      <%= f.text_field :list_date_lteq, :class => "form-control", :placeholder => "List date less than or equal to" %>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
              </div>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#list_dategteqPicker').datetimepicker({
                      format: 'MM/DD/YYYY'
                  });
                  $('#list_datelteqPicker').datetimepicker({
                      useCurrent: false,
                      format: 'MM/DD/YYYY'
                  });
                  $('#list_dategteqPicker').on("dp.change", function (e) {
                      $('#list_datelteqPicker').data("DateTimePicker").minDate(e.date);
                  });
                  $('#list_datelteqPicker').on("dp.change", function (e) {
                      $('#list_dategteqPicker').data("DateTimePicker").maxDate(e.date);
                  });
              });
          </script>
    
    <div class="form-group">
        <%= f.label :ac_central_eq, "Ac central" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :ac_central_eq, "1", checked: ((params[:q] && params[:q][:ac_central_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :ac_central_eq, "0", checked: ((params[:q] && params[:q][:ac_central_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :ac_central_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
        <%= f.label :ac_window_units_eq, "Ac window units" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :ac_window_units_eq, "1", checked: ((params[:q] && params[:q][:ac_window_units_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :ac_window_units_eq, "0", checked: ((params[:q] && params[:q][:ac_window_units_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :ac_window_units_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
        <%= f.label :heat_radiator_eq, "Heat radiator" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :heat_radiator_eq, "1", checked: ((params[:q] && params[:q][:heat_radiator_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :heat_radiator_eq, "0", checked: ((params[:q] && params[:q][:heat_radiator_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :heat_radiator_eq, ""%> Either
          </label>
        </div>
      </div>
    
    <div class="form-group">
        <%= f.label :heat_gas_eq, "Heat gas" %>
        <div>
          <label class="radio-inline">
            <%= f.radio_button :heat_gas_eq, "1", checked: ((params[:q] && params[:q][:heat_gas_eq]) == "1" ? "checked" : "") %> Yes
          </label>
          <label class="radio-inline">
            <%= f.radio_button :heat_gas_eq, "0", checked: ((params[:q] && params[:q][:heat_gas_eq]) == "0" ? "checked" : "")%> No
          </label>
          <label class="radio-inline">
            <%= f.radio_button :heat_gas_eq, ""%> Either
          </label>
        </div>
      </div>
    
    
    
    <div class="form-group">
      <%= f.label :beds, "Beds" %>
      <div class="row">
        <div class='col-md-6 mb-1'>
          <%= f.text_field :beds_gteq, :class => "form-control", :placeholder => "Beds greater than or equal to" %>
        </div>
        <div class='col-md-6'>
          <%= f.text_field :beds_lteq, :class => "form-control", :placeholder => "Beds less than or equal to" %>
        </div>
      </div>
    </div>
    
            <div class="form-group">
          <%= f.label :city_name_cont, "City name contains" %>
          <%= f.text_field :city_name_cont, :class => "form-control", :placeholder => "City name contains" %>
        </div>
    
    <div class="form-group">
          <%= f.label :neighborhood_name_cont, "Neighborhood name contains" %>
          <%= f.text_field :neighborhood_name_cont, :class => "form-control", :placeholder => "Neighborhood name contains" %>
        </div>
    
          <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
    
          <a href="/listings" class="btn btn-default btn-block mb-1">Clear filters</a>
        <% end %>
        <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#listings_filters">
          Show Filters
        </a>
        
      </div> <!-- 1st row only column -->
    </div> <!--1st row -->
    <div class="row">
      <div class="col-md-6">
        <body onload="InitMap();">
	      <div id="map" style="height: 600px; width: max"></div>
	  </body>
        
    
      </div> <!--2nd row 1st column-->
      <div class="col-md-6">
        <table class="table table-striped table-hover">
      <tr>
        <th>Address</th>
        <th>Beds</th>
        <th>Baths</th>
        <th>Half baths</th>
        <!--<th>Description</th>-->
        <th>City</th>
        <th>Price</th>
        <th>Days on LBTransit</th>
      </tr>

      <% @listings.each do |listing| %>
      <tr>
        <td>
          <a href="/listings/<%= listing.id %>"><%= listing.address %></a>
          </td>
        <td><%= listing.beds %></td>
        <td><%= listing.baths %></td>
        <td><%= listing.half_baths %></td>
        <!--<td><%#= listing.description %></td>-->
        <td>
          <% if listing.city.present? %>
            <a href="/cities/<%= listing.city.id %>">
              <%= listing.city.name %>
            </a>
          <% end %>
        </td>
        <td><%= listing.price %></td>
        <td><%= ((DateTime.now - listing.list_date.to_datetime).to_f).round(0)%></td>
        <!--<td>-->
        <!--  <a href="/listings/<%#= listing.id %>" class="btn btn-primary">Show</a>-->
        <!--</td>-->
      </tr>
      <% end %>
    </table>
    <%= paginate @listings, theme: 'twitter-bootstrap-4' %>
        
      </div> <!--2nd row 2nd column-->
    </div> <!--2nd row-->

