<!-- Validation failure messages -->
<% if @metra_search.errors.any? %>
  <% @metra_search.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Metra Search #<%= @metra_search.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_metra_search/<%= @metra_search.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for search_id -->
      <div class="form-group">
        <label for="search_id" class="control-label">
          Search
        </label>

        <%= select_tag(:search_id, options_from_collection_for_select(Search.all, :id, :user_id, @metra_search.search_id), :class => "form-control") %>
      </div>

      <!-- Label and input for metra_station_id -->
      <div class="form-group">
        <label for="metra_station_id" class="control-label">
          Metra station
        </label>

        <%= select_tag(:metra_station_id, options_from_collection_for_select(MetraStation.all, :id, :lat, @metra_search.metra_station_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Metra Search
      </button>
      or
      <a href="/metra_searches/<%= @metra_search.id %>">Cancel</a>
    </form>
  </div>
</div>
