<div class="page-header">
  <h3>Cta Search #<%= @cta_search.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Search</dt>
      <dd>
        <% if @cta_search.search.present? %>
          <a href="/searches/<%= @cta_search.search_id %>">
            <%= @cta_search.search.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Cta station</dt>
      <dd>
        <% if @cta_search.cta_station.present? %>
          <a href="/cta_stations/<%= @cta_search.cta_station_id %>">
            <%= @cta_search.cta_station.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cta_searches" class="btn btn-primary">
        Back
      </a>
      <a href="/cta_searches/<%= @cta_search.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cta_search/<%= @cta_search.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
