<div class="page-header">
  <h1>
    Hood searches
    <a href="/hood_searches/new" class="btn btn-lg btn-success">New Hood search</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Neighborhood</th>
        <th>Search</th>
        <th>Actions</th>
      </tr>

      <% @hood_searches.each do |hood_search| %>
      <tr>
        <td>
          <% if hood_search.neighborhood.present? %>
            <a href="/neighborhoods/<%= hood_search.neighborhood.id %>">
              <%= hood_search.neighborhood.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if hood_search.search.present? %>
            <a href="/searches/<%= hood_search.search.id %>">
              <%= hood_search.search.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/hood_searches/<%= hood_search.id %>" class="btn btn-primary">Show</a>
          <a href="/hood_searches/<%= hood_search.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_hood_search/<%= hood_search.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @hood_searches, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
