<div class="page-header">
  <h1>
    Cta assigns
    <a href="/cta_assigns/new" class="btn btn-lg btn-success">New Cta assign</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Cta station</th>
        <th>Cta line</th>
        <th>Actions</th>
      </tr>

      <% @cta_assigns.each do |cta_assign| %>
      <tr>
        <td>
          <% if cta_assign.cta_station.present? %>
            <a href="/cta_stations/<%= cta_assign.cta_station.id %>">
              <%= cta_assign.cta_station.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if cta_assign.cta_line.present? %>
            <a href="/cta_lines/<%= cta_assign.cta_line.id %>">
              <%= cta_assign.cta_line.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/cta_assigns/<%= cta_assign.id %>" class="btn btn-primary">Show</a>
          <a href="/cta_assigns/<%= cta_assign.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_cta_assign/<%= cta_assign.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @cta_assigns, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
