<div class="page-header">
  <h3>Cta Assign #<%= @cta_assign.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Cta station</dt>
      <dd>
        <% if @cta_assign.cta_station.present? %>
          <a href="/cta_stations/<%= @cta_assign.cta_station_id %>">
            <%= @cta_assign.cta_station.name %>
          </a>
        <% end %>
      </dd>

      <dt>Cta line</dt>
      <dd>
        <% if @cta_assign.cta_line.present? %>
          <a href="/cta_lines/<%= @cta_assign.cta_line_id %>">
            <%= @cta_assign.cta_line.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cta_assigns" class="btn btn-primary">
        Back
      </a>
      <a href="/cta_assigns/<%= @cta_assign.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cta_assign/<%= @cta_assign.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
